body {
  color: black;
}

.movieItem {
  height: 350px;
  width: 230px;
}

.row {
  width: 100%;
}

.col-md-3 {
  // width: 25%;
}

img {
  margin-right: 7%;
}

@import 'homePage';
@import 'addMovie';
