  {{#each movies}}
  <div class='movieItem'>
    <h2>{{Title}} ({{Year}})</h2> 
    <p>{{Actors}}</p>
    <p>Rating Out of 10: {{Rating}}</p> 
    <input type="checkbox" name="viewed" checked>
    <!--  $("[name='viewed']").bootstrapSwitch();  -->
    <input type='button' value='delete' class='delete'>
  </div>
  {{/each}}