  {{#each movies}}
  <div class='movieItem'>
    <h2>{{Title}}<h2> <h3>({{Year}})</h3> 
    <p>{{Actors}}</p>
    <p>{{Rating}}</p> 
    <input type="checkbox" name="viewed" checked>
    <!--  $("[name='viewed']").bootstrapSwitch();  -->
    <input type='button' value='delete' class='delete'>
  </div>
  {{/each}}