  {{#each movies}}
  <div class='movieItem'>
    <h2>{{title}}<h2>  <h3>({{year}})</h3> 
    <p>{{actors}}</p>
    <p>{{rating}}</p> 
    <input type="checkbox" name="viewed" checked>
    <!--  $("[name='viewed']").bootstrapSwitch();  -->
    <input type='button' value='delete' class='delete'>
  </div>
  {{/each}}