{{#each this}}
  <div class='movieItem col-md-3 col-xs-12'>
    <div class="media-body posterImage">
      <img src="{{poster}}"> 
    </div>
    <div class="media-bottom">
      <input type="hidden" class="rating"/>
    </div>
  </div>
{{/each}}