{{#each this}}
  {{#unless viewed}}
  <div data-key='{{@key}}' class='movieItem col-md-3 col-xs-12' id="{{Title}}">
    <div class="media-body posterImage">
      <img src="{{poster}}"> 
    </div>
    <div class="media-bottom">
      <button type="button" id="addToWatched">Watched</button>
      <button type="button" id="deleteFromWishlist">Delete</button>
    </div>
  </div>
  {{/unless}}
{{/each}}