{{#each movies}}
  <div class='movieItem col-md-3 col-xs-12'>
    <div class="media-body posterImage">
      <img src="{{poster}}"> 
    </div>
    <div class="media-bottom">
      <p>Placeholder for relevant info</p>
      <button type="button" class="addToWatched" disabled="false">Watched</button>
      <button type="button" class="deleteFromWishlist" disabled="false">Delete</button>
    </div>
  </div>
{{/each}}